<%- include("partials/header") -%>

<section class="container" id="profile">
<div>
  <h1 class="section-title">Hello <%= user.email %></h1>
</div>

<div class="user-page">
  <h1 class="user-title">Edit Info</h1>

  <% if (messages.error) { %>
    <div class="error"><%= messages.error %></div>
  <% } %><% if (locals.error) { %>
    <div class="error"><%= error %></div>
    <% } %>
    <% if (locals.success) { %>
      <div class="success"><%= success %></div>
    <% } %>

  <form action="/user/<%= user._id %>" method="POST" id="register" class="user-form">    
      <label for="password">Password</label>
      <input
        type="password"
        class="form-control"
        name="password"
        placeholder="password"
      />

      <label for="gender">Gender</label>
      <select name="gender" id="gender">
        <option value="">Select</option>
        <option value="male" <% if (user.gender === "male") { %>
          selected
          <% } %> >Male</option>
        <option value="female" <% if (user.gender === "female") { %>
          selected
          <% } %>>Female</option>
      </select>
    
      <label for="first_name">First Name</label>
      <input
        type="text"
        class="form-control"
        name="first_name"
        placeholder="John"
        value="<%= user.first_name %>" 
      />
    
      <label for="last_name">Last Name</label>
      <input
        type="text"
        class="form-control"
        name="last_name"
        placeholder="Doe"
        value="<%= user.last_name %>"
      />
    
      <label for="phone_number">Phone Number</label>
      <input
        type="text"
        class="form-control"
        name="phone_number"
        placeholder="Enter your phone number"
        value="<%= user.phone_number %>" 
      />

      <label for="item_choice">Gift Choice</label>
      <select name="item_choice" id="item_choice" onchange="loadChoice()">
        <option value="" <% if (!user.gift_choice) { %>
          selected disabled hidden
          <% } %>  >Select</option>
        <option value="item" <% if (user.gift_choice && user.gift_choice.item) { %>
          selected
          <% } %> 
        >Item</option>
        <option value="amount" <% if (user.gift_choice && user.gift_choice.amount) { %>
          selected
          <% } %> 
        >Cash</option>
      </select>

    <button type="submit" class="btn btn-dark">Update</button>
  </form>

  <div class="user__logout">
    <form action="/logout" method="POST">
      <button type="submit" class="btn btn-dark">Logout</button>
    </form>
  </div>
</div>

<script>
  const userExists = <%- JSON.stringify(user) %>
  <% if (locals.success) { %>
    setTimeout(() => {
      window.location = "/"
    }, 3000);
  <% } %>
</script>

</section>

<%- include("partials/footer") -%>
